.searchBar > input{
    background-color: white;
    position: fixed;
    height:5%;
    width: 20vw; 
    /* 29vw; */
    border-radius: 15px;
    margin-left:60px;
    margin-top: 88vh;
    border: none;
    text-align: center;
    font-size: large;
    padding-right: 5px;
}
.searchBar > input:hover{
    margin-top: 86vh;
    margin-left: 58px;
    padding: 10px;
}
.searchBar{
    display:flex;
}
.searchBar__icon{
    margin-top: 5px;
    margin-left:27vw;
    padding-top: 10px;
    position: absolute;
}

.searchBar__icon:hover{
    margin-top: 4px;
}

form> button{
 background-color: unset;
 border:none;
}