.container{
    background-color:white;
    height: 75vh;
    width: 30vw;
    position: fixed;
    margin-top: 10vh;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 10px black;
    /* border: 1px solid black; */
    /* border-radius: 15px 15px 5px 5px; */
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
   }
   ::-webkit-scrollbar-thumb {
    background: #d6d2d2;
    border-radius: 5px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #cbc4cc;
   }
   ::-webkit-scrollbar-track{
    background: none;
    border-radius: 10px;
   }