.listItem__container{
    display: flex;
}
.listItem__items{
    margin-top: 50px;
    position:inherit;
}
.listItem__items{
    display: flex;
    flex-direction: column-reverse;
}
.listItem{
    height: 10vh;
    /* box-shadow: black 1px 2px 3px; */
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding-top: 7px;
    justify-content:flex-start;
    position:static;
    /* border-radius: 5px; */
}
.listItem__head{
    position: fixed;
    background-color: white;
    border: none;
    margin-left: .5vw;
    box-shadow: none;
    padding: 6px;
    width: 28vw;
    border-radius: 15%;
}
.listItem__header{
    margin-top: 10px;
    margin-left: 7%;
}

.listItem__headBorder{
    width: 25vw;
    margin: auto;
    border: none;
    border-bottom: 1px inset 	#F5F5F5;
    box-shadow: 1px 1px 1px 	#F5F5F5;
}
.listItem__border{
    width: 28vw;
    margin: auto;
    margin-left: 10px;
    border: none;
    border-bottom: 1px inset 	#F5F5F5;
    box-shadow: 1px 1px 1px 	#F5F5F5;
}

.listItem > h1{
    margin: auto;
    flex:1;
    margin-top: 5px;
    margin-left: 10%;
    font-size: large;
    font-weight: 800;
}

.listItem >p{
    flex: auto;
    margin-left: 10%;
    margin-top: 15px;
}

.listItem__modal{
    background-color:white;
    height: 100vh;
    width: 30vw;
    border: 2px solid ghostwhite;
    border-radius: 20px;
    position: relative;
    margin: auto;
}
.listItem__modal >h1{
    margin-top: 25%;
    text-align: center;
    margin-bottom: 5px;
}
.listItem__modal >h4{
    margin-top: 30px;
    text-align: center;
    font-size: large;
}
.listItem__modal >p{
    text-align: justify;
    font-size: large;
    padding: 50px;
}
.listItem__phrases{
    padding-left: 15%;
    font-size:large;
    text-align: justify;
    padding-right: 50px;
}
.listItem__phrases> h5{
    margin-bottom: 5px;
}
.listItem__btn{
    position:fixed;
    margin-left: 25vw;
    margin-top: 9px;
    border-radius: 100px;
    border: none;
    background: transparent;
}

@media screen and (min-width: 200px) and (max-width: 665px) {
    .app{
      width: 99.5vw;
    }
    .listItem__modal{
    width: 99.5vw;
}
.listItem__btn{
    margin-left: 90vw;
}
.listItem__head{
    width: 86%;
    margin-left: 5vw;
}
.listItem__head> .listItem__border{
    width: 350px;
}
.listItem__headBorder{
    width: 90vw;
}
.listItem__border{
    width: 90vw;
}
.listItem__header{
    margin-left: 5%;
}
}