.searchBar > input{
    background-color: white;
    position: fixed;
    height:5%;
    width: 29vw;
    border-radius: 15px;
    margin-top: 5px;
    border: none;
    margin-left: 1.9px;
    text-align: center;
    font-size: large;
    padding-right: 5px;
}
.searchBar{
    display:flex;
}
.searchBar__icon{
    margin-left:27vw;
    padding-top: 10px;
    position: absolute;
}